<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="play_music(name)">
    <span th:if="${name} eq 'shuyuanji'">
        <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=110
                src="//music.163.com/outchain/player?type=1&id=3083012&auto=0&height=90"></iframe>
    </span>
    <span th:if="${name} eq 'youjinianhua'">
        <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86
                src="//music.163.com/outchain/player?type=2&id=29811170&auto=0&height=66"></iframe>
    </span>
    <span th:if="${name} eq 'shishuqiannian'">
        <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86
                src="//music.163.com/outchain/player?type=2&id=1422719579&auto=0&height=66"></iframe>
    </span>
    <span th:if="${name} eq 'tidengzhaoshanhe'">
        <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86
                src="//music.163.com/outchain/player?type=2&id=29811163&auto=0&height=66"></iframe>
    </span>
    <span th:if="${name} eq 'renjianruhua'">
        <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86
                src="//music.163.com/outchain/player?type=2&id=29811165&auto=0&height=66"></iframe>
    </span>
    <span th:if="${name} eq 'yuanshengyizhuan'">
        <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86
                src="//music.163.com/outchain/player?type=2&id=29811186&auto=0&height=66"></iframe>
      </span>
    <span th:if="${name} eq 'diyiyexiangsi'">
        <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86
                src="//music.163.com/outchain/player?type=2&id=29811164&auto=0&height=66"></iframe>
    </span>
    <span th:if="${name} eq 'jieju'">
        <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86
                src="//music.163.com/outchain/player?type=2&id=29811168&auto=0&height=66"></iframe>
    </span>
    <span th:if="${name} eq 'nanke'">
        <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86
                src="//music.163.com/outchain/player?type=2&id=29811147&auto=0&height=66"></iframe>
    </span>
    <span th:if="${name} eq 'yanyichunqiu'">
        <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86
                src="//music.163.com/outchain/player?type=2&id=29811167&auto=0&height=66"></iframe>
    </span>
    <span th:if="${name} eq 'ziweifengyuemaqianzu'">
        <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86
                src="//music.163.com/outchain/player?type=2&id=29811169&auto=0&height=66"></iframe>
    </span>
    <span th:if="${name} eq 'meiyinzhiquxiaonongxia'">
        <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86
                src="//music.163.com/outchain/player?type=2&id=29811171&auto=0&height=66"></iframe>
    </span>
</div>

</body>
</html>