<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common::common_header('工具列表')"></head>
<body>
<div th:include="common::tool_nav"></div>
<div class="panel panel-primary">
    <div class="panel-heading"><h3>工具列表</h3></div>
    <div class="panel-body">
        <br/>
        <h4><a href="/get_netease_lrc">获取网易云音乐歌词lrc文件</a></h4>
        <br/>
        <h4><a href="/get_check_id_card">身份证号校验</a></h4>
        <br/>
        <h4><a href="/get_factorization">因数分解</a></h4>
        <br/>
        <h4><a href="/get_prime_numbers">查看范围内的质数</a></h4>
        <br/>
        <h4><a href="/get_random_equations">随机生成加减法算式和答案</a></h4>
        <br/>
        <h4><a href="/get_random_divide_equations">随机生成带余数除法算式和答案</a></h4>
        <br/>
        <h4><a href="/get_words_statistics">文本统计</a></h4>
        <br/>
        <h4><a href="/get_toefl_article_json">生成托福阅读听力文章的JSON格式</a></h4>
        <br/>
        <h4><a href="/get_toefl_article_analysis_result"> 获取托福文章分析结果</a></h4>
        <br/>

    </div>
</div>
<footer th:replace="common::common_footer"></footer>
</body>
</html>